body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0faff;
}

.formLogin{
    position: absolute;
    bottom: 50px;
    background-color: #4a6ecf;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    gap: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-style: italic;
}

input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
    width: 100%;
}

.input-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.password-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.password-wrapper input {
    padding-right: 40px; /* Space for the eye icon */
}

button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.input-submit {
    font-weight: 700;
    font-size: 28px;
    color: black;
    font-style: italic;
    cursor: pointer;
    position: relative;
    bottom: 40px;
}

.error-container {
    background-color: azure;
    border: 1px solid azure;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 22px;
}

.error-message {}

.message-container {
    color: rgb(231, 135, 135);
}

/* Default eye icon color */
#eyeIcon {
    color: rgb(183, 182, 182);
    transition: color 0.3s;
}

/* When the password is visible, the eye icon turns green */
#eyeIcon.visible {
    color: rgb(0, 45, 0);
}
